* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #1e2d3b;
  font-family: "Raleway", sans-serif;
}

header {
  background-color: #2e3a46;
  height: 60px;
  display: flex;
  align-items: center;
}

header > i {
  font-size: 45px;
  margin-left: 20px;
  color: #1ed760;
  background-color: black;
  border-radius: 50%;
}

#seleziona {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#seleziona > label {
  color: white;
}

#genere {
  margin-left: 30px;
  height: 30px;
  width: 100px;
  font-size: 20px;
  font-weight: 600;
  background-color: #1ed760;
  border: 0;
  border-radius: 10px;
  outline: none;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 100px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2e3a46;
  width: 200px;
  height: 400px;
  margin: 10px 20px;
  padding: 20px;
}

.card > img {
  max-width: 100%;
}

.titolo {
  color: white;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.scritte {
  color: #7b8080;
  text-align: center;
}
